@media only screen and (max-width:1200px){
    .features{
        padding-left: 2%;
        img{
            width: 500px;
            margin-left: 0px;
        }
        .featuresph{
            margin-top: 163px;
        }
    }
}
@media only screen and (max-width:992px){
    .features{
        padding-left: 2%;
        img{
            width: 500px;
            margin-left: 0px;
        }
        .featuresph{
            margin-top: 163px;
        }
    }
}
@media only screen and (max-width:768px){
    .features{
        padding-left: 2%;
        img{
            width: 95%;
            margin-left: 0px;
        }
        .featuresph{
            margin-top: 0px;
        }
    }
}
@media only screen and (max-width:576px){
    .features{
        padding-left: 2%;
        img{
            width: 100%;
            margin-left: 0px;
        }
        .featuresph{
            margin-top: 0px;
        }
    }
}